[submodule "vendor/github.com/hypebeast/go-osc"]
	path = vendor/github.com/hypebeast/go-osc
	url = https://github.com/SpComb/go-osc.git
    branch = master
[submodule "vendor/github.com/depili/go-rgb-led-matrix"]
	path = vendor/github.com/depili/go-rgb-led-matrix
	url = https://github.com/depili/go-rgb-led-matrix
